*{
    margin: 0;
    padding: 0;
}

.intro{
    height: 100vh;
    width: 100%;
    background-image: url(imgs/frr.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.lista{
    background-image: url(imgs/bg_navbar.jpg);
    background-repeat: repeat-x;
    position: absolute;
    width: 100%;
    border: 0;
    min-height: 58px;
    overflow: hidden;
    list-style-type: none;
}
.opt{
    float: left;
    padding: 4px;
    margin-left: 10px;
}
.linkopt{
    text-decoration: none;
    color: antiquewhite;
    text-transform: uppercase;
    display: block;
    padding: 17px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}
.linkopt:hover{
    background-color: rgb(75, 147, 206);
}
.hepea{
    margin-top: 3.05%;
    margin-left: 6.15%;
    padding-bottom: 6px;
   
}
.fondo{
     background-image: url(imgs/bg_siteheader.jpg);
     background-repeat: repeat-x;
     width: 100%;
     height: 18vh;
}
#texto{
    position: relative;
    width: 45%;
    height: 150px;
    top: 200px;
    left: 90px;
    color: black;
}
.boton{
    text-decoration: none;
    background-color: rgb(199, 76, 76);
    color: aliceblue;
    border: 25px;
    border-radius: 6px;
    border-color: brown;
    padding: 11px 19px;
    text-transform: uppercase;
    position: relative;
    top: 20px;
    font-family: 'Lato', sans-serif;
    line-height: initial;
    font-size: 17.5px;
}
.Herramientas{
    font-weight: 900;
    text-transform: initial;
    line-height: initial;
    font-family: 'Lato', sans-serif;
}
.Hrr2{
    font-weight: 500;
    font-family: 'Lato', sans-serif;
    line-height: initial;
    text-transform: initial;
}
.separador{
    height: 20px;
    display: block;
}
.swiper{
    width: 95%;
    height: 300px;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img{
    display: block;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.swiper{
    margin-left: auto;
    margin-right: auto;
}
.mid-img{
    height: 67vh;
    width: 100%;
    background-image: url(imgs/dtrn.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.mid-img::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(255, 255, 255, 0.5);
}
.txt{
    padding-top: 150px;
    padding-bottom: 200px;
    text-align: center;
    margin-left: 80px;
    margin-right: 80px;
    position: absolute;
}
.ctlgComp{
    font-weight: 700;
    text-transform: initial;
    line-height: initial;
    font-family: 'Lato', sans-serif;
    font-size: 35px;
}
.FabImpCom{
    font-weight: 400;
    font-family: 'Lato', sans-serif;
    line-height: initial;
    text-transform: initial;
    font-size: 27px;
}
.btn{
    text-decoration: none;
    background-color: rgb(199, 76, 76);
    color: aliceblue;
    border: 25px;
    border-radius: 6px;
    border-color: brown;
    text-transform: uppercase;
    position: relative;
    font-family: 'Lato', sans-serif;
    line-height: initial;
    font-size: 17.5px;
    padding: 11px 80px;
    top: 20px;
}
